.utility{
    background-color: none;
}

input,textarea{
    all: unset;
    width:70%;
    /* min-width: 40px; */
    /* pointer-events:; */
}
textarea{
    display: inline-block;
}

.command{
    display: block;
}

.display-content{
    color:white;
    font-weight: 600;
}